.formContainer{ 
    width:100%;
}

.loaderContainer{
    display:flex;
    justify-content:center
}

.loader{
    display: inline-block;
    color: #134163; 
}

.formGrid{
    margin-left:0;
    margin-right:0;
    width:100%;
    font-weight:bold;
}